*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(assets/bg.jpg);
}

#heading{
    color:white;
    font-size: 40px;
    font-family: cursive;
    padding: 10px;
}

#mycanvas{
    height: 570px;
    width: 1200px;
    background-image: url(assets/cartoon.jpg);
    border: 4px solid white;
}